{% extends "counsels/layout.html" %}

{% block content %}
<div class="container" style="padding-top: 20px">

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="{% url 'post' %}?category=COUNSELING">
                <div class="pricingBloc focusPlan">
                    <h3>간편 법률 상담</h3>
                    <ul>
                        <li></li>
                    </ul>

                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="{% url 'post' %}?category=REQUEST_ADVICE">
                <div class="pricingBloc focusPlan">
                    <h3>법률 상담 의뢰</h3>
                    <ul>
                        <li>상담 받고 싶은 내용을 올리면 변호사가 확인 후 예상 비용을 제시합니다.
                            그 비용을 입금하시면 확인 후 상담이 진행 됩니다.</li>
                    </ul>

                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="{% url 'post' %}?category=CERTIFICATION">
            <div class="pricingBloc focusPlan">
                <h3>내용증명 고소장 작성</h3>
                <ul>
                    <li></li>
                </ul>

            </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="{% url 'post' %}?category=CAR_ACCIDENT">
            <div class="pricingBloc focusPlan">
                <h3>교통사고 과실비율 추정</h3>
                <ul>
                    <li></li>
                </ul>

            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}